#Copyright (C) 2007-2013 Realtek Semiconductor Corporation.
# drivers/Kconfig

menu "CEC1 Adapters"	
	depends on CEC

config RTD1195_CECRX
	tristate "CEC Controller 1 for Realtek RTD1195 platform"
	depends on CEC 
	default y
	help
	  Say Y, if you want to enable CEC1 feature on Realtek RTD1195 platform.
	  
endmenu
