#Copyright (C) 2007-2013 Realtek Semiconductor Corporation.
# drivers/Kconfig

config RTK_HDMITX
	tristate "HDMITX for Realtek RTD1195 platform"
	select I2C
	select SWITCH
	default n
	help
	  Say Y, if you want to enable HDMITX feature on Realtek RTD1195 platform.
